.navbar-brand .cross {
  border: 1px solid white;
}

@media (max-width:1200px) {
  .discover img {
    width: 95%;
  }
}

@media (max-width:990px) {
  .navbar {
    background-color: #1F2233 !important;
    
  }
  .navbar .navbar-nav {
    padding-bottom: 2rem;
  }
  .navbar .nav-link {
    text-align: center;
    font-size: 1.2rem;
    margin: 0.5rem 0.5rem;
  }

  a.nav-link:hover,
  a.nav-link:active,
  .nav-link.clicked {
    background-color: #FD5C55;
    color: white !important;
  }
  a.nav-link::before {
    content: '';
    height: 0;
  }
  .contact-btn {
    margin: 1rem auto;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: white !important
  }
  
  .fancy-burger {
    display: block !important;
  }
  /*.contact .box {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-start;
  }*/
}


@media (max-width:768px) {
  html {
    font-size: 14px;
  }

  .hero-content h1 {
    font-size: 16px;
  }

  #profile-img {
    width: 70vw;
    height: 50vh;
  }

  .services .row div:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }

  .discover-btns {
    display: flex;
    justify-content:center;
    align-items: center;
  }
}

@media (max-width:576px) {

  .info {
    width: 80%;
    margin: 0 auto;
  }

  .discover button {
    margin: 0 auto;
    display: block;
  }

  .services .row {
    width: 80%;
    margin: 0 auto
  }

  .discover img {
    margin: 0 auto;
    display: block;
  }

  .contact .row {
    width: 95%;
    margin: 0 auto;
  }
  .discover-btns {
    flex-direction: column;

  }
  .discover-btns form {
    /*border:3px solid red;*/
    width: 100%;
    overflow: hidden;
  }
  .discover-btns button {
    /*padding:1rem 100%;*/
    display: block;
    width: 80%;
    margin:0 auto;
    box-sizing: border-box;
  }

}