*,*::before,*::after{box-sizing: border-box;margin:0;padding:0;}
html{scroll-behavior: smooth;}
body{transition: all 1s ease-in-out;}
.hero{background-image: url('../images/home2.jpg');width:100%;height: 100vh;height:calc(var(--vh, 1vh) * 100);background-position: center;
background-size: cover;background-repeat: no-repeat;}
.hero-overlay{background-color: rgba(0, 0, 0, 0.8);width:100%;height: 100vh;height:calc(var(--vh, 1vh) * 100);padding-bottom: 15rem !important;}

.navbar{background: transparent !important;transition: all 0.6s ease-in-out;}
.fixed-top.scrolled {
    z-index: 22;
    background-color: #1F2233 !important;
    transition: background-color 200ms linear;
  }
#progress-bar{width:0%;height: 5px;background-color: #FD5C55;position: fixed;z-index: 44 !important;}
.navbar a{color:white !important;}
.navbar ul li a{font-size: 1rem;font-weight:600;margin:1rem 0.5rem;text-transform: capitalize;transition: all 0.6s ease-in-out;}
ul li a:hover,ul li a:active{color:#FD5C55 !important;}
.nav-link.clicked{color:#FD5C55 !important;}
.contact-btn-link.btn-clicked{color:white !important; background-color:#FD5C55 !important;}
.navbar-brand,footer span{font-size: 2rem;letter-spacing: 4px;}
.navbar-brand span,footer span{color:#FD5C55;}

.contact-btn{background-color: transparent;color:#FD5C55 !important;position: relative;text-transform: capitalize;margin:1rem 0 0 1.5rem;font-weight: 600;padding:0px !important;}
.contact-btn a {text-decoration: none;color:#FD5C55 !important;display: inline-block;z-index: 99;height: 100%;margin:0 !important;padding:0.4rem 0.8rem;width:100%;border:1px solid #FD5C55;border-radius: 4px;transition: all 0.6s ease;}
.contact-btn a:hover,.contact-btn a:focus,.contact-btn a:active{color:white !important;background-color: #FD5C55;}
.hero-content{display: flex;align-items: center;flex-direction: column;height: 100vh;height:calc(var(--vh, 1vh) * 100);justify-content: center;}
.hero-content img{width:200px;border-radius: 50%;display: block;margin:0 auto;}
.hero-content h1{color:#FD5C55;font-size: 4rem;font-weight: 700;margin-top:1.1rem;letter-spacing: 4px;}
.hero-content h5{color:whitesmoke;font-size: 1.6rem;
letter-spacing: 4px;}
.typewriter::after{
  content: '';
  width:3px;
  height: 5%;
  border-right: 2px solid #FD5C55;
  animation: blinker .4s infinite ease;
}
@keyframes blinker{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.discover,.contact{min-height: 100vh;width: 100%;background-color:#1F2233;padding:6rem 0;}
.contact{background-color: #24283D;padding-top: 0;;}
.discover img{width:400px;height:480px;object-fit:cover;box-shadow: 0 0 15px rgba(0, 0, 0, .2);padding:7px;}
.discover h3,.contact h3{color:#FD5C55}
.discover h1,.contact h1{color:white;font-size: 2.6rem;}
.discover h1::after{
    content:'';
    width:66px;
    height: 2px;
    background-color: #FD5C55;
    position: absolute;
    top:100px;
    left: 60px
}
.discover p{color:#D3D2D2}
.info .row{border:1px solid #FD5C55;border-radius: 5px;padding:1rem}
.info p{line-height: 2.4rem;font-size: 1rem;}
.info span{font-weight: 600;}
.info .upwork-link {color:#FD5C55;}
.discover button,.contact button{background-color: #FD5C55;color: white;padding: .8rem 1.7rem;font-weight: 600;transition: all 0.6s ease-in-out;}
.meta{margin:2rem 0;}
.discover button:hover,.contact button:hover{background-color: transparent;color: #FD5C55;border:1px solid #FD5C55;}
.services{background-color: #24283D;padding:3rem 0;border-bottom: 1px solid #333333;}
.services h4{color:white;}
.services p{color:#CDCCCC;}
.services h3{color:#FD5C55}
.services h1{color:white ;}
.services .container {position: relative;}
.services h1::after{
  content:'';
    width:66px;
    height: 3px;
    background-color: #FD5C55;
    position: absolute;
    top:94px;
    left: 10px
}
.services .container .row {display: flex;justify-content: center;align-items: center;}
.services .row div{border:1px solid #FD5C55;border-radius: 5px;margin:2rem 0;padding:1rem 3rem 1rem 1rem !important;background-color: #1F2233;cursor: pointer;transition: all .4s ease-out;}
.services .row div:hover{box-shadow: -1px -2px 10px 1px #FD5C55 inset;}
.services .row div:nth-child(2){margin-left:2rem;margin-right: 2rem;}
.services .row div p{width:100%;margin-left: 1rem;margin-right: 1rem;}
.services .row div img{margin:1rem}
.services .row div h4{margin-bottom:1rem;margin-left: 1rem;}
.contact{position: relative;padding-top: 3rem;}
.contact h1::after{
  content:'';
    width:66px;
    height: 2px;
    background-color: #FD5C55;
    position: absolute;
    top:96px;
    left: 80px
}
.contact input{background-color: transparent;border:3px solid #282c3e;outline:none;box-shadow: none;}
.contact .box{display: flex;align-items: center;justify-content:space-around;border:1px solid #333333;margin:2rem 0;padding:1.5rem 0.5rem;background-color: #1F2233;}
.box-content{color:#CDCCCC;}
.box-content p{font-size: 0.95rem;}
.contact .box:hover,.contact .box:nth-child(2){border:1px solid #FD5C55;transition: all .5s ease-in-out;}
.box-content h6,.box-content p{margin:0;}
footer{background-color: #1F2233;padding:3rem 0}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(253, 92, 85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.contact input{outline:none;}
.contact input:focus,.contact input:active {border:1px solid #FD5C55;background-color: transparent;outline: none !important;box-shadow: none;}
.pageUp{background-color:#282c3e;color:#FD5C55;position:fixed;bottom: 2rem;right: 2rem;padding:0 .5rem;font-size: 1.9rem;border-radius: 5px;cursor: pointer;border:1px solid transparent;transition: all 0.4s ease-in;}
.pageUp{display: none;}
.pageUp:hover,.pageUp:focus{border-color: #FD5C55;}
.pageUp a{color:#FD5C55;text-decoration: none;}
hr{height: 1px;margin:0;color:black}
.navbar-toggler {
  border-color:transparent !important;
  outline:none !important;
} 
