* {margin:0;padding:0;box-sizing: border-box;}
body{background-color: #333;height: 100vh;display: flex;justify-content: flex-start;align-items: center;flex-direction: column;}
.piano {display: flex;border:10px solid black;border-radius:10px;}
.white{background-color: white;height:  calc(10rem + 25vh);width:calc(2.5rem + 2vw);border:1px solid #333;}
.black{height: calc(10rem + 7vh);width:calc(1.7rem + 1vw);background-color: black;margin-left: -20px;margin-right: -20px;z-index: 2;}
.whiteActive {background-color: #ccc;}
.blackActive {background-color: rgb(37, 37, 37);}

h1{text-align: center;font-style: italic;font-family: monospace;margin:1rem 0px;
    color:white;font-size: 3.2rem;letter-spacing: 5px;text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.);}

h4{color:white;padding:1rem 0.3rem 0;font-style: italic;font-family: cursive}