*{margin:0;padding:0;box-sizing: border-box;}
body{height: 100vh;display: flex;justify-content: center;align-items: center;background-color: #333;}
.clock{width: 500px;height: 500px;border-radius: 50%;display: flex;justify-content: center;align-items: center;background-color: white;box-shadow: 0px 0px 10px #fff;}
.clock-face{width: 85%;height: 85%;border-radius: 50%;background-color: #333;position: relative;}
.hand{width: 40%;background-color: whitesmoke;height: 8px;position: absolute;top:50%;transform: rotate(270deg);transform-origin:0%;left:50%;border-radius: 15px;transition: all .07s;transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);}
.center{width: 30px;height: 30px;position: absolute;background-color:rgb(36, 36, 36);top:50%;left: 50%;transform: translate(-50%,-50%);border-radius: 50%;}
.hand:nth-child(1){width: 30%;transform: rotate(70deg);height: 10px;}
.hand:nth-child(3){background-color: red;transform:rotate(120deg);width: 45%;height: 6px;}
.info p{color:white;font-family: Arial, Helvetica, sans-serif;position: absolute;position: absolute;bottom: 5rem;right: 4rem;display: block;text-transform: uppercase;font-weight: 600;}
.info p:last-child{bottom: 3.7rem;text-align: left;}
.mode-toggler{background-color: white;position: absolute;right: 3rem;top:3rem;width: 60px;height: 25px;border-radius: 25px;}
.btn{background-color: #333;width: 20px;height: 20px;position: absolute;left: 10%;top:10%;border-radius: 50%;transition: all .4s ease;}
.move{transform: translateX(140%);}

.light {background-color: white;color:#333}
.dark{background-color: #333;color:white;}
.glow{box-shadow: 0px 0px 20px #333;}

@media (max-width: 500px) {
	.clock{width:90%;height:45%;}
}